<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	
	<appSettings>
		
		<!--Parametros de configuração-->	
		<add key="browserC" value="Chrome"/>
		<add key="browserF" value="Fire Fox"/>

		<!--Parametros da aplicação-->
		<add key="name" value="Hugo Peres"/>
		<add key="email" value="contato@inoveteste.com.br"/>
		<add key="subject" value="Qual o valor do livro impresso?"/>
		<add key="message" value="Gostaria de saber qual o valor do livro impresso + frete para o cep 00000-000"/>
			
	</appSettings>
	
</configuration>